extends ../node_modules/jade-bootstrap/_bootstrap

block body
    nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Colenso Project
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li.active
                        a(href='/list') File Explorer
                    li
                        a(href='/addDoc') Add Document
                    li
                        form.navbar-form.navbar-left(action='search', method='get')
                            .form-group
                                .input-group
                                    input.form-control(type='text', placeholder='Search...', name='searchString')
                                    .input-group-btn
                                        .btn-group
                                            button.btn.btn-default(type='submit') Search
                                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span.caret
                                            ul.dropdown-menu
                                                li
                                                    label
                                                        input(type='radio', name='gridRadios', value='option1', checked='true')
                                                        | Search by text
                                                li
                                                    label
                                                        input(type='radio', name='gridRadios', value='option2')
                                                        | Search by xquery

    .container(style="padding-top: 70px")
        .page-header
            h2(style="font-family: 'Calibri', 'Trebuchet MS', sans-serif;")=title
        - var indexOfLast = path.lastIndexOf("/");
        - var prevDir = path.substring(0,indexOfLast);
        -var wholePath = path+"/"+place;
        -var dirList = path.split("/");
        -var temp = "";
        ol.breadcrumb
            each dir in dirList
                - temp = temp + dir+ '/';

                li: a(href='/list?place=/'+temp) #{dir}

    .container
        ul
            each val in place
                - var extension = val.split('.').pop();
                - if(extension.length == 4){ extension = extension.slice(0,3); }
                - var test = extension.length;
                //-var extension = val.slice(-4,-1);
                - var isXML = "xml"===extension;
                    //p #{val}  #{extension}  #{isXML} #{test}
                    if extension == "xml"
                        //goto another page
                        li: a(href='/viewDoc?doc=/'+path+'/'+val) #{val}
                        //li: a(href='/') !{val} #{typeOfVal} #{extension}
                    else
                        li: a(href='/list?place=/'+path+'/'+val) #{val}
                        //#{typeOfVal} #{extension}
    span(style="position: fixed; bottom: 18px; right: 10px;")
        a.well.well-sm(href='#top', onclick="$('html,body').animate({scrollTop:0},'slow');return false;")
            i.glyphicon.glyphicon-chevron-up